html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #f8f9fa;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}