:root {
    --c-primario: #1a168d;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #f8f9fa;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

/*SOBRE ESCRITURA A STILOS DE BOOSTRAP*/

.bg-primary{
    background-color: var(--c-primario) !important;
}

.text-primary{
    color: var(--c-primario) !important;
}




/*MIS EATILOS*/

.bg-blanco{
    background-color: #ffffff;
}

.avatar {
    vertical-align: middle;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
}

.btnAsist{
    width: 80px !important;
}

.asfalre{
    font-weight:bold !important;
}

.modal-header{
      /*ESTILOS PROPIOS***********************************************************************/
  background-color: darkblue !important;
  color: white !important;
  /*ESTILOS PROPIOS***********************************************************************/
}

.btnClose_modal{
    background-color: white !important;
}

.card_cursor{
    cursor: pointer !important;
}

.creargrupo_center{
    display: flex !important;
    align-items: center !important;
}

.texto_creaGrupo{
    font-size: 1rem;
}

.table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

    .table caption {
        font-size: 28px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 8px;
        color: black;
    }

    .table tr th {
        background-color: darkblue;
        border: 1px solid #ccc;
        font-size: 13px;
        color: white;
        /*text-align: left;*/
    }


    .table tr td {
        font-size: 13px;
    }